.clear
{
	clear:both;
}


#s3slider
{
	width:1020px;
	height:345px;
	position:relative;
	overflow:hidden;
}
#s3sliderContent
{
	width:1020px;
	height:345px;
	position:absolute;
	top:0;
	list-style-type:none;
	margin:0;
}
.s3sliderImage
{
	float:left;
	position:relative;
	display:none;
	top:-5px;
	margin:0;
}

.s3sliderImage span 
{
	position:absolute;
	font:Arial, Helvetica, sans-serif;
	font-size:15px;
	padding:10px 13px;
	color:#FFF;
	background-color:#7f86b0;
	width:1020px;
	display:none;
	opacity: 0.7;
	-moz-opacity:0.7;
	filter:alpha (opacity=70);
	margin:0;
}


.top
{
	top:0;
	left:0;
	width:1020px;
	height:50px;
}
.bottom
{
	bottom:0;
	left:0;
	width:1020px;
	height:50px;
}
.left
{
	top:0;
	left:0;
	width:150px !important;
	height:335px;
}
.right
{
	bottom:0;
	right:0;
	width:150px !important;
	height:335px;
}